<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<
<form th:method="POST" th:action="@{update}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error message</span><br/><br/>
    <br/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error message</span><br/><br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error message</span><br/><br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error message</span><br/><br/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <label>Roles:</label>
    <label>
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br/>
    <input type="submit" value="Update User"/>
    <br/>

</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>