<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddNewUser</title>
</head>
<body>

<form th:method="POST" th:action="@{create}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <label> Roles: </label>
    <label>
        <input type="" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br/>
    <input type="submit" value="Add User"/>
</form>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>